header{
    margin:0;
    
    
}

nav{
    padding:0px 20px;
    align-items: center;
    justify-content: space-between;
    margin:0;
    background-color: rgb(122, 130, 233);
}

nav, ul{
    display:flex;
    flex-direction: row;
    

}

.botao{
    background: transparent;
    border:none;
    color: black;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    display:none
}

.logo{
    color:black;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

ul{
    list-style: none;
    padding: 0;
    overflow:hidden;
    transition: 0.5s
}

li{
    padding: 10px 20px
}

li:hover,
.botao:hover{
    cursor: pointer;
    background-color: white;
    transition: 0.5s;
}

.botao:focus ~ ul{
    height: 200px;
}

a{
    padding:10px 15px;
    text-decoration: none;
    color:black;
    font-size: 20px;
}

@media (max-width:870px) {
    nav, ul{
        flex-direction: column;
        align-items: unset;
    }
    

    ul{
        text-align: center;
        height:0
    }

    nav{
        padding-top: 10px;
    }

    .botao{
        display: flex;
    }
}

/*Corpo do Texto*/

body{
    margin:0;
    background-color: rgb(255, 255, 133);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    display: flex;
    height: 700px;
    margin: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 300px;
    max-width: 2000px;
}

/*Formulário*/

.formulario{
    width: auto;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(86, 172, 247);
    text-align: center;
    height: auto;
    box-shadow: 2px 5px 8px black;

}

input, textarea{
    width: 95%;
    padding:10px;
    margin-bottom: 20px;
    font: 20px;
    border: 1px solid black;
}

label{
   padding-bottom:10px ;
   font-weight: bolder;
   display: inline-block;
}

.send{
    background-color: white;
    border:1px solid black;
    padding: 15px;
    color:deeppink;
    font-weight: bold;
    border-radius: 40px;
    width: 20%;
}

.send:hover{
    background-color: black;
    color:white;
    transition: 0,5s;
}

.send:active{
    color:blueviolet
}

.item{
    max-width: 50%;
    padding:20px;
    text-align: center;
    padding: 20px;
    margin:10px;
    background-color: rgb(163, 255, 163);
    box-shadow: 0 5px 10px black;
}

h2{
    font-size: 20px;
}

h1{
    font-size: 30px;
    color: red;
}

@media(max-width:870px){
    .container{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%
    }
    .item{
        width:100%
    }
}
