header{
    margin:0;
    
    
}

nav{
    padding:0px 20px;
    align-items: center;
    justify-content: space-between;
    margin:0;
    background-color: rgb(241, 206, 89);
}

nav, ul{
    display:flex;
    flex-direction: row;

}

button{
    background: transparent;
    border:none;
    color: black;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    display:none
}

.logo{
    color:black;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

ul{
    list-style: none;
    padding: 0;
    overflow:hidden;
    transition: 0.5s
}

li{
    padding: 10px 20px
}

li:hover,
button:hover{
    background-color: white;
    transition: 0.5s;
}

button:focus ~ ul{
    height: 200px;
}

a{
    padding:10px 15px;
    text-decoration: none;
    color:black;
    font-size: 20px;
}

@media (max-width:870px) {
    nav, ul{
        flex-direction: column;
        align-items: unset;
    }
    

    ul{
        text-align: center;
        height:0
    }

    nav{
        padding-top: 10px;
    }

    button{
        display: flex;
    }
}

/* Corpo da Página*/

body{
    margin:0;
    background-color: rgb(212, 68, 68);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    display:flex;
    height:auto;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin:auto;
    max-width: 2000px;
    min-width: 300px;

}

.item{
    color:white;
    padding:20px;
    margin:10px;
    max-width:50%;
    height: 90%;
}

.item img{
    height: 100%;
    width: 100%;
}

.item p{
    text-align: justify;
    font-size: 20px;
    background-color: rgba(203, 91, 255, 0.356);
    padding: 10px;
}

@media (max-width:870px){
    .container{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .item{
        max-width: 100%;
    }
}
